/*Estilo da aplicação */
/*Criando Variaveis*/
:root{
    --cor-primaria: #0044cc;
    --cor-secundaria: #002266;
    --cor-fundo: #f0f8ff;
    --cor-texto: #333;
    /*Espaçamentos*/
    --espaço-xxs: 4px;
    --espaço-xs: 8px;
    --espaço-sm: 12px;
    --espaço-md: 14px;
    --espaço-lg: 24px;
    --espaço-x1: 32px;
    --espaço-xx1: 48px;   
}
body{
    /* fonte*/
    font-family:Arial, Helvetica, sans-serif;
    /*Margem externa*/
    margin: 0;
    /*Margem inrerna*/
    padding: 0;
    /*Cor fundo*/
    background-color: #f0f8ff;
    /*Cor fundo*/
    color: #333;
    /*cor do texto*/
    color: var(--cor-texto);


/*Configuração do container*/
.containe{
    /*Tamanho maximo*/
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--espaço-lg);

}}
/*cabeçalho*/
header{
    background-color: var(--cor-primaria);
    padding: var(--espaço-lg);
    /*Alinhameno do texto*/
    text-align: center;
    color: white;
    font-size: 24px
}
/*Menu de navegação*/
nav{
    background-color: var(--cor-secundaria);
    padding: var(--espaço-sm);
    text-align: center;
}
/*Mudar apenas os links do menu*/
nav a{
    color: white;
    /*remover o traço embaixo do link*/
    text-decoration: none;
    /*10px superior e inferior*/
    /*20px direita e esquerda*/
    padding: 10px 20px;
    /*ele ocupa o espaço do texto e/ou a dimensão do componente*/
    display: inline-block
}
/*Configurar o hoover do link*/
nav a:hover{
    background-color: var(--cor-primaria);
    color: white;
}

/*configurar o main*/
main{
    padding: var(--espaço-lg);
    text-align: center;
    
}
/*Rodape*/
footer{
    background-color: var(--cor-secundaria);
    color: white;
    text-align: center;
    padding: var(--espaço-sm);
    /*fixar o conteudo a tela*/
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 10px
}   

/*Listas*/
ol ul{
    /* Ajusta a listapara o centro */
    list-style-position: inside;
    padding-left: 0;
    /* alinhamento  de texto */
    text-align: left;
}

li{
    /* margim inferior */
    margin-bottom: 5px;
}

/* Cartoes = card */

.portifolio-container{
    /* organizar o container */
    display: flex;
    /* alinhamento de conteudo */
    justify-content: center;
    /* Quebra de linha */
    flex-wrap: wrap;
    /* espaçamento */
    gap:20px;
    padding: 20px;
}

.card{
    width:300px;
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;
    background-color: white;
    /* Sombra da caixa */
    box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.2);
    /* configura a elocidade de transição */
    transition: transform 0.3s;

}
.card:hover{
    /* Efeito de hover */
    transform: scale(1.05);
}
.card a{
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background-color: rgb(0, 0, 0);
    color : white;
    text-decoration: none;
    /* arredondamento */
    border-radius: 5px;

}

.card a:hover{
    background-color: var(--cor-secundaria);
    color: white;
}
